@font-face {
    font-family: 'seven';
    src: url('./Seven Segment.ttf') format('truetype');
}

#counterCont {
    background: linear-gradient(rgb(167, 57, 57), #803737);
    border: solid rgb(32, 32, 54) 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    border-radius: 50%;
    height: 40vmin;
    width: 40vmin;
    box-shadow: 2px 3px 5px #0003;
    background: #eee;
    margin:  15px auto;
}

#display {
    background: grey;
    width: 50%;
    min-width: min-content;
    max-width: 80%;
    margin: 20% auto 10% auto;
    font-size: 8vmin;
    padding: 16px;
    border-radius: 5px;
    box-shadow: inset 2px 2px 3px rgba(0, 0, 0, .3);
    font-family: seven;
}

#buttonCont {
    display: flex;
}

#buttonCont button {
    border: none;
    font-size: min(4vmin, 32pt);
    width: 30%;
    margin: 5px;
    border-radius: 5px;
    background: rgba(211, 211, 211, 0.781);
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .3);
    transition-duration: .1s;
}

#display, #buttonCont {
    line-height: 1 !important;
}

#buttonCont button:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, .4);
}

input[type="color"].btn {
    background: #ddd;
    height: 38px;
    width: 50%;
}