body {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.circle {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 2px 3px 5px #0003;
    background: #eee;
}

.action {
    margin: 10px;
    text-align: center;
}

button {
    border: none;
    font-size: 18pt;
    margin: 15px;
    padding: 15px;
    border-radius: 3px;
    box-shadow: 2px 2px 3px #0003;
    transition-duration: .2s;
    cursor: pointer;
}

button:hover {
    box-shadow: 1px 1px 2px #0003;
    transform: scale(0.95);
}

input[type=color]{
    border: none;
    background: #ccc;
    padding: 10px;
    height: 40px;
    width: 150px;
    border-radius: 3px;
}