.bluebox {
    background:url("https://scanuproductions.com/images/gallery/gallery14.jpg"), blue;
    background-size: cover;
    background-position: center;
    height: 100px;
    width: auto;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
}

.greenbox {
    background-color: #0f03;
    height: 40px;
    color: rgb(97, 46, 46);
    padding: 50px 10px 12px 48px !important;
}

.yellowbox {
    background-color: rgb(216, 216, 162);
    height: 150px;
    border: solid orange 15px;
}

.yellowbox, .bluebox, .greenbox {
    padding: 15px;
    margin: 15px;
    border-radius: 5px;
    font-family: sans-serif;
}

.lizard {
    font-weight: bold;
    font-size: 18pt;
}